<section>
    <a href="/dashboard" 
    class="is-pulled-right"> &larr; Dashboard</a>
  <h2 class="title">New Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" 
      placeholder="title of blog..."
      id="post-title" name="post-title" />
    </div> 
    <div>
      <label for="post-content">Post Content</label>
      <input class="textarea is-large" 
      placeholder="blog content..."
      id="post-content" name="post-content" />
    </div>

    <button type="submit" class="button is-primary is-pulled-right">Create</button>
  </form>
</section>

<script src="/public/javascript/add-post.js"></script>